.well.bs-component
  = nested_form_for [:admin, @parking], html: { class: "form-horizontal parking" } do |f|
    %fieldset
      %legend= Parking.model_name.human
    - if @parking.errors.any?
      %p.text-danger= t('errors.messages.not_saved')

    .form-group
      = f.label :owner_id, Owner.model_name.human,
         class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        - if @parking.owner.present?
          - options = {selected: @parking.owner.id}
        - else
          - options = {prompt: true}
        = f.collection_select(:owner_id, @owners, :id, :name, options)
      = f.error_span(:owner_id)
    .form-group
      = f.label :name, class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        = f.text_field :name, class: 'form-control'
      = f.error_span(:name)
    - if current_user.admin?
      .form-group
        = f.label :code, class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_field :code, class: 'form-control'
          %i= t('views.auto_generation')
        = f.error_span(:code)
    - else
      - unless @parking.new_record?
        .form-group
          = f.label :code, class: 'control-label col-lg-2'
          .col-lg-10
            = @parking.code
    .form-group
      = f.label :canonical_name, class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        = f.text_field :canonical_name, class: 'form-control'
      = f.error_span(:canonical_name)
    .form-group
      = f.label :address, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_field :address, class: 'form-control'
      = f.error_span(:address)
    .form-group
      = f.label :description, class: 'control-label col-lg-2'
      .col-lg-10
        = f.cktext_area :description, class: 'form-control'
      = f.error_span(:description)
    .form-group
      = f.label :price, class: 'control-label col-lg-2'
      .col-lg-10
        = f.cktext_area :price, class: 'form-control'
      = f.error_span(:price)
    .form-group
      = f.label :message, class: 'control-label col-lg-2'
      .col-lg-10
        = f.cktext_area :message, class: 'form-control'
      = f.error_span(:message)
    .form-group
      = f.label :cautions, class: 'control-label col-lg-2'
      .col-lg-10
        = f.cktext_area :cautions, class: 'form-control'
      = f.error_span(:cautions)
    .form-group
      = f.label :is_public, class: 'control-label col-lg-2'
      .col-lg-10
        - {yes: true, no: false}.each do |key, value|
          = f.radio_button :is_public, value, id: "is_public_#{value}"
          %label{for: "is_public_#{value}"}= t("views.boolean.#{key}")
      = f.error_span(:is_public)
    = render 'form_area', f: f
    .form-group
      .col-lg-offset-2.col-lg-10
      = f.submit t('views.save'), class: 'btn btn-primary'
      = link_to t('views.cancel'), [:admin, :parkings], class: 'btn btn-default'
