= provide :title, [Parking.model_name.human, t('views.index')].join

%h2= Parking.model_name.human

%p= link_to t('views.new'), [:new, :admin, :parking], class: 'btn btn-default'

%p= page_entries_info @parkings

%table.table.table-striped
  %thead
    %tr
      %th= Parking.human_attribute_name(:name)
      %th= Parking.human_attribute_name(:code)
      %th= Parking.human_attribute_name(:capacity)
      %th= Parking.human_attribute_name(:address)
      %th

  %tbody
    - @parkings.each do |parking|
      %tr
        %td= parking.name
        %td= parking.code
        %td= parking.capacity
        %td= parking.address
        %td= link_to t('views.show'), [:admin, parking], class: 'btn btn-default'

%br

= paginate @parkings
