= provide :title, [Parking.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Parking.model_name.human
  %p
    %b= Owner.model_name.human + ':'
    = link_to @parking.owner.try(:name), [:admin, @parking.owner]
  %p
    %b= Parking.human_attribute_name(:name) + ':'
    = @parking.name
  %p
    %b= Parking.human_attribute_name(:code) + ':'
    = @parking.code
  %p
    %b= Parking.human_attribute_name(:address) + ':'
    = @parking.address
  %p
    %b= Parking.human_attribute_name(:latitude) + ':'
    = @parking.latitude
  %p
    %b= Parking.human_attribute_name(:longitude) + ':'
    = @parking.longitude
  %p
    %b= Parking.human_attribute_name(:description) + ':'
    = @parking.description.html_safe
  %p
    %b= Parking.human_attribute_name(:price) + ':'
    = @parking.price.html_safe
  %p
    %b= Parking.human_attribute_name(:message) + ':'
    = @parking.message.html_safe
  %p
    %b= Parking.human_attribute_name(:cautions) + ':'
    = @parking.cautions.html_safe

  %fieldset
    %legend= Area.model_name.human
  %table.table.table-striped.table-hover.table-sortable
    %thead
      %th= Area.human_attribute_name(:name)
      %th= Area.human_attribute_name(:note)
      %th= Area.human_attribute_name(:status)
      %th= Contract.model_name.human
    %tbody
      - @parking.areas.each do |area|
        %tr.item{data: { model_name: 'area' }}
          %td= area.name
          %td= area.note
          %td= area.enum_i18n(:status)
          %td= area.contract_info

  = link_to t('views.edit'), [:edit, :admin, @parking],
    class: 'btn btn-default'
  = link_to t('views.delete'), [:admin, @parking], method: :delete,
    data: { confirm: t('views.messages.confirm')}, class: 'btn btn-danger'
= link_to [Contract.model_name.human, t('views.new')].join,
  [:new, :admin, @parking, :contract], class: 'btn btn-default'
= link_to t('views.back'), [:admin, :parkings], class: 'btn btn-default'
