= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= t('errors.messages.not_saved')
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id, t('activerecord.attributes.user.customer_code')
    - if @user.present?
      = f.collection_select(:user_id, @users, :id, :customer_code, selected: @user)
    - else
      = f.collection_select(:user_id, @users, :id, :customer_code, include_blank: true)
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :kind
    - Contract.enum_i18n(:kind).invert.each do |key, value|
      = key
      = f.radio_button :kind, value
  .field
    = f.label :status
    - Contract.enum_i18n(:status).invert.each do |key, value|
      = key
      = f.radio_button :status, value
  .field
    = f.label :rent
    = f.number_field :rent
  .field
    = f.label :contracted_date
    = f.date_select :contracted_date
  .field
    = f.label :termed_date
    = f.date_select :termed_date
  .field
    = f.label :automatic_updating
    %br/
    - {yes: true, no: false}.each do |key, value|
      = t("views.boolean.#{key}")
      = f.radio_button :automatic_updating, value
  .field
    = f.label :note
    = f.text_area :note
  .actions
    = f.submit t('views.save')
