= provide :title, [Contract.model_name.human, t('views.index')].join

%h2= Contract.model_name.human

%p= link_to t('views.new'), new_contract_path

%p= page_entries_info @contracts

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:customer_code)
      %th= Contract.human_attribute_name(:number)
      %th= Contract.human_attribute_name(:kind)
      %th= Contract.human_attribute_name(:status)
      %th= Contract.human_attribute_name(:rent)
      %th= Contract.human_attribute_name(:date_signed)
      %th= Contract.human_attribute_name(:date_terminated)
      %th

  %tbody
    - @contracts.each do |contract|
      %tr
        %td= contract.user.try(:customer_code)
        %td= link_to contract.number, contract
        %td= contract.enum_i18n(:kind)
        %td= contract.enum_i18n(:status)
        %td= contract.rent
        %td= l(contract.date_signed)
        %td= l(contract.date_terminated)
        %td= link_to [Payment.model_name.human, t('views.new')].join,
          new_contract_payment_path(contract)

%br

= paginate @contracts
