= provide :title, t('activerecord.models.contract') + t('views.show')
%h2= t('activerecord.models.contract') + t('views.show')

%p
  %b= t('activerecord.attributes.contract.user_id')
  = @contract.user_id
%p
  %b= t('activerecord.attributes.contract.number')
  = @contract.number
%p
  %b= t('activerecord.attributes.contract.kind')
  = @contract.enum_i18n(:kind)
%p
  %b= t('activerecord.attributes.contract.status')
  = @contract.enum_i18n(:status)
%p
  %b= t('activerecord.attributes.contract.rent')
  = @contract.rent
%p
  %b= t('activerecord.attributes.contract.contracted_date')
  = @contract.contracted_date
%p
  %b= t('activerecord.attributes.contract.termed_date')
  = @contract.termed_date
%p
  %b= t('activerecord.attributes.contract.automatic_updating')
  = @contract.boolean_i18n(:automatic_updating)
%p
  %b= t('activerecord.attributes.contract.note')
  = @contract.note

= link_to t('activerecord.models.payment') + t('views.new'), new_contract_payment_path(@contract)

= link_to t('views.edit'), edit_contract_path(@contract)
\|
= link_to t('views.back'), contracts_path
