= provide :title, [User.model_name.human, t('views.index')].join

%h2= User.model_name.human

%p= link_to t('views.new'), new_user_path, class: 'btn btn-default'

%p= page_entries_info @users

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:customer_code)
      %th= User.human_attribute_name(:fullname)
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, user
        %td= user.customer_code
        %td= user.fullname
        %td= link_to [Contract.model_name.human, t('views.new')].join,
          new_user_contract_path(user), class: 'btn btn-default'

%br

= paginate @users
