= provide :title, t('activerecord.models.user') + t('views.index')
%h2= t('activerecord.models.user') + t('views.index')

%p= page_entries_info @users

= link_to t('views.new'), new_user_path

%table
  %thead
    %tr
      %th ID
      %th= t('activerecord.attributes.user.email')
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= link_to t('views.show'), user
        %td= link_to t('views.edit'), edit_user_path(user)
        %td= link_to t('views.delete'), user, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= paginate @users
