= provide :title, t('activerecord.models.user') + t('views.show')
%h2= t('activerecord.models.user') + t('views.show')

%p
  %b= t('activerecord.attributes.user.email')
  = @user.email
%p
  %b= t('activerecord.attributes.user.name')
  = @user.fullname
%p
  %b= t('activerecord.attributes.user.locale')
  = @user.enum_i18n(:locale)
%p
  %b= t('activerecord.attributes.user.gender')
  = @user.enum_i18n(:gender)
%p
  %b= t('activerecord.attributes.user.birthday')
  = l(@user.birthday) if @user.birthday.present?
%p
  %b= t('activerecord.attributes.user.address')
  = @user.address
%p
  %b= t('activerecord.attributes.user.phone')
  = @user.phone
%p
  %b= t('activerecord.attributes.user.role')
  = @user.enum_i18n(:role)
%p
  %b= t('activerecord.attributes.user.customer_code')
  = @user.customer_code
%p
  %b= t('activerecord.attributes.user.send_of_dm')
  = @user.boolean_i18n(:send_of_dm)
%p
  %b= t('activerecord.attributes.user.reset_password_token')
  = @user.reset_password_token
%p
  %b= t('activerecord.attributes.user.reset_password_sent_at')
  = l(@user.reset_password_sent_at) if @user.reset_password_sent_at.present?
%p
  %b= t('activerecord.attributes.user.remember_created_at')
  = l(@user.remember_created_at) if @user.remember_created_at.present?
%p
  %b= t('activerecord.attributes.user.sign_in_count')
  = @user.sign_in_count
%p
  %b= t('activerecord.attributes.user.current_sign_in_at')
  = l(@user.current_sign_in_at) if @user.current_sign_in_at.present?
%p
  %b= t('activerecord.attributes.user.last_sign_in_at')
  = l(@user.last_sign_in_at) if @user.last_sign_in_at.present?
%p
  %b= t('activerecord.attributes.user.current_sign_in_ip')
  = @user.current_sign_in_ip
%p
  %b= t('activerecord.attributes.user.last_sign_in_ip')
  = @user.last_sign_in_ip
%p
  %b= t('activerecord.attributes.user.confirmation_token')
  = @user.confirmation_token
%p
  %b= t('activerecord.attributes.user.confirmed_at')
  = l(@user.confirmed_at) if @user.confirmed_at.present?
%p
  %b= t('activerecord.attributes.user.confirmation_sent_at')
  = l(@user.confirmation_sent_at) if @user.confirmation_sent_at.present?
%p
  %b= t('activerecord.attributes.user.unconfirmed_email')
  = @user.unconfirmed_email

= link_to t('activerecord.models.contract') + t('views.new'), new_user_contract_path(@user)

= link_to t('views.edit'), edit_user_path(@user)
\|
= link_to t('views.back'), users_path
