%dl.dl-horizontal
  %dt= Contract.human_attribute_name(:kind)
  %dd= contract.enum_i18n(:kind)
  - if contract.monthly_parking?
    %dt= Contract.human_attribute_name(:parking_name_and_area_names)
    %dd= contract.parking_name_and_area_names
  %dt= Contract.human_attribute_name(:rent)
  %dd= money_per_month(contract.rent)
  %dt= Contract.human_attribute_name(:period)
  %dd
    = contract.period
    - if contract.auto_updating?
      = t('views.auto_update')
