- next_month = Date.today.next_month
- case controller.action_name
- when 'edit', 'update'
  - url = admin_payment_url @payment
  - button = 'save'
- else
  - url = confirm_admin_payments_url
  - button = 'confirm'

.well.bs-component
  = form_for @payment, url: url, html: { class: "form-horizontal payment" } do |f|
    %fieldset
      %legend= Payment.model_name.human
    - if @payment.errors.any?
      %p.text-danger= t('errors.messages.not_saved')

    .form-group
      = f.label :contract_id, Contract.human_attribute_name(:code),
         class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        - if current_user.admin?
          - if @payment.contract.present?
            - options = {selected: @payment.contract.id}
          - else
            - options = {prompt: true}
          = f.collection_select(:contract_id, @contracts, :id, :code_and_fullname, options)
        - else
          = @payment.contract.decorate.code_and_fullname
          = f.hidden_field :contract_id
      = f.error_span(:contract_id)
    .form-group
      = f.label :payday, class: 'control-label col-lg-2'
      .col-lg-10
        = f.date_select :payday, end_year: Date.today.year
      = f.error_span(:payday)
    .form-group
      = f.label :amount, class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        = f.number_field :amount
      = f.error_span(:amount)
    .form-group
      = f.label :date_started, Payment.human_attribute_name(:period),
        class: 'control-label col-lg-2'
      .col-lg-10
        = f.date_select :date_started,
          default: Date.new(next_month.year, next_month.month), discard_day: true
        = '-'
        = f.date_select :date_ended,
          default: Date.new(next_month.year, next_month.month), discard_day: true
      = f.error_span(:date_ended)
    .form-group
      = f.label :message, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_area :message, class: 'form-control'
      = f.error_span(:message)
    .form-group
      = f.label :note, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_area :note, class: 'form-control'
      = f.error_span(:note)
    .form-group
      = f.label :sent_mail, class: 'control-label col-lg-2'
      .col-lg-10
        - if @payment.new_record? || current_user.admin?
          - {yes: true, no: false}.each do |key, value|
            = f.radio_button :sent_mail, value, {id: "sent_mail_#{value}",
              disabled: !@payment.user.try(:send_mail?)}
            %label{for: "sent_mail_#{value}"}= t("views.boolean.#{key}")
        - else
          = @payment.boolean_i18n(:sent_mail)
      = f.error_span(:sent_mail)
    .form-group
      .col-lg-offset-2.col-lg-10
      = f.submit t("views.#{button}"), class: 'btn btn-primary'
      = link_to t('views.cancel'), [:admin, :payments], class: 'btn btn-default'
