= provide :title, [Payment.model_name.human, t('views.index')].join

%h2= Payment.model_name.human

- if current_user.admin?
  %p= link_to t('views.new'), [:new, :admin, :payment], class: 'btn btn-default'

%p= page_entries_info @payments

%table.table.table-striped
  %thead
    %tr
      %th= Contract.human_attribute_name(:code_and_fullname)
      %th= Contract.human_attribute_name(:kind)
      %th= Payment.human_attribute_name(:payday)
      %th= Payment.human_attribute_name(:amount)
      %th= Payment.human_attribute_name(:period)
      %th= Payment.human_attribute_name(:message)
      %th= Payment.human_attribute_name(:note)
      %th

  %tbody
    - @payments.each do |payment|
      %tr{class: "#{payment.pay_later? ? 'danger' : ''}"}
        %td= link_to payment.contract.try(:code_and_fullname), [:admin, payment.contract]
        %td= payment.contract.kind_and_parking_name if payment.contract.present?
        %td= l(payment.payday)
        %td= money(payment.amount)
        %td= payment.period
        %td= payment.message
        %td= payment.note
        %td= link_to t('views.show'), [:admin, payment], class: 'btn btn-default'

%br

= paginate @payments
