= provide :title, [Payment.model_name.human, t('views.index')].join

%h2= Payment.model_name.human

- if current_user.admin?
  %p= link_to t('views.new'), [:new, :admin, :payment], class: 'btn btn-default'

%p= page_entries_info @payments

%table.table.table-striped
  %thead
    %tr
      %th= Contract.human_attribute_name(:number_and_fullname)
      %th= Payment.human_attribute_name(:payday)
      %th= Payment.human_attribute_name(:amount)
      %th= Contract.human_attribute_name(:kind)
      %th= Payment.human_attribute_name(:period)
      %th= Payment.human_attribute_name(:message)
      %th= Payment.human_attribute_name(:note)
      - if current_user.admin?
        %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.contract.try(:number_and_fullname)
        %td= payment.payday
        %td= payment.amount
        %td= payment.contract.enum_i18n(:kind) if payment.contract.present?
        %td= payment.period
        %td= payment.message
        %td= payment.note
        - if current_user.admin?
          %td= link_to t('views.show'), [:admin, payment], class: 'btn btn-default'

%br

= paginate @payments
