= provide :title, [Payment.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Payment.model_name.human
  %p
    %b= Contract.human_attribute_name(:number) + ':'
    - if @payment.contract.present?
      = link_to @payment.contract.number_and_fullname, [:admin, @payment.contract]
  %p
    %b= Payment.human_attribute_name(:payday) + ':'
    = @payment.payday
  %p
    %b= Payment.human_attribute_name(:amount) + ':'
    = money(@payment.amount)
  %p
    %b= Payment.human_attribute_name(:period) + ':'
    = [@payment.date_started, @payment.date_ended].join(' - ')
    = @payment.period
  %p
    %b= Payment.human_attribute_name(:message) + ':'
    = @payment.message
  %p
    %b= Payment.human_attribute_name(:note) + ':'
    = @payment.note

  = link_to t('views.edit'), [:edit, :admin, @payment],
    class: 'btn btn-default'
  = link_to t('views.delete'), [:admin, @payment], method: :delete,
    data: { confirm: t('views.messages.confirm')}, class: 'btn btn-danger'
= link_to t('views.back'), [:admin, :payments], class: 'btn btn-default'
