= provide :title, [Payment.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Payment.model_name.human
  %p
    %b= Contract.human_attribute_name(:code) + ':'
    - if @payment.contract.present?
      = link_to @payment.contract.code_and_fullname, [:admin, @payment.contract]
  %p
    %b= Contract.human_attribute_name(:kind) + ':'
    - if @payment.contract.present?
      = @payment.contract.kind_and_parking_name
  %p
    %b= Payment.human_attribute_name(:payday) + ':'
    = l(@payment.payday)
  %p
    %b= Payment.human_attribute_name(:amount) + ':'
    = money(@payment.amount)
  %p
    %b= Payment.human_attribute_name(:period) + ':'
    = @payment.period
  %p
    %b= Payment.human_attribute_name(:message) + ':'
    = @payment.message
  %p
    %b= Payment.human_attribute_name(:note) + ':'
    = @payment.note
  %p
    %b= Payment.human_attribute_name(:sent_mail) + ':'
    = @payment.boolean_i18n(:sent_mail)

  = @payment.link_to_edit
  = @payment.link_to_destroy
= link_to t('views.back'), [:admin, :payments], class: 'btn btn-default'
