.well.bs-component
  = form_for [:admin, @contract], html: { class: "form-horizontal contract" } do |f|
    %fieldset
      %legend= Contract.model_name.human
    - if @contract.errors.any?
      %p.text-danger= t('errors.messages.not_saved')

    .form-group
      = f.label :user_id, User.human_attribute_name(:customer_code),
         class: 'control-label col-lg-2'
      .col-lg-10
        - if @contract.new_record? || current_user.admin?
          = f.collection_select(:user_id, @users, :id,
            :customer_code_and_fullname, include_blank: true)
          - if @contract.new_record?
            %br
            = check_box :new_user, :create
            = label_tag :new_user_create, t('admin.contracts.new_user_create')
        - else
          = @contract.try(:user).customer_code_and_fullname
      = f.error_span(:user_id)
    .form-group
      = f.label :owner_id, Owner.model_name.human,
         class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        - if @contract.owner.present?
          - options = {selected: @contract.owner.id}
        - else
          - options = {prompt: true}
        = f.collection_select(:owner_id, @owners, :id, :name,
          options, onchange: "select_owner(this.value)")
      = f.error_span(:owner_id)
    - if current_user.admin?
      .form-group
        = f.label :code, class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_field :code, class: 'form-control'
          %i= t('views.auto_generation')
    - else
      - unless @contract.new_record?
        .form-group
          = f.label :code, class: 'control-label col-lg-2'
          .col-lg-10
            = @contract.code
    .form-group
      = f.label :kind, class: 'control-label col-lg-2'
      .col-lg-10
        - if @contract.new_record?
          - Contract.enum_i18n(:kind).invert.each do |key, value|
            = f.radio_button :kind, value, onclick: "select_kind('#{value}');",
              id: "kind_#{value}"
            %label{for: "kind_#{value}"}= key
        - else
          = @contract.enum_i18n(:kind)
      = f.error_span(:kind)
    = render 'form_parking', f: f, contract: @contract, parkings: @parkings
    .form-group
      = f.label :status, class: 'control-label col-lg-2'
      .col-lg-10
        - Contract.enum_i18n(:status).invert.each do |key, value|
          = f.radio_button :status, value, id: "status_#{value}"
          %label{for: "status_#{value}"}= key
      = f.error_span(:status)
    .form-group
      = f.label :rent, class: 'control-label col-lg-2'
      %span.text-danger= t('views.required')
      .col-lg-10
        = f.number_field :rent
      = f.error_span(:rent)
    .form-group
      = f.label :date_signed, class: 'control-label col-lg-2'
      .col-lg-10
        = f.date_select :date_signed
      = f.error_span(:date_signed)
    .form-group
      = f.label :date_terminated, class: 'control-label col-lg-2'
      .col-lg-10
        = f.date_select :date_terminated, default: (Date.today >> 12) - 1
      = f.error_span(:date_terminated)
    .form-group
      = f.label :auto_updating, class: 'control-label col-lg-2'
      .col-lg-10
        - {yes: true, no: false}.each do |key, value|
          = f.radio_button :auto_updating, value, id: "auto_updating_#{value}"
          %label{for: "auto_updating_#{value}"}= t("views.boolean.#{key}")
      = f.error_span(:auto_updating)
    .form-group
      = f.label :note, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_area :note, class: 'form-control'
      = f.error_span(:note)
    .form-group
      .col-lg-offset-2.col-lg-10
      = f.submit t('views.save'), class: 'btn btn-primary'
      = link_to t('views.cancel'), [:admin, :contracts], class: 'btn btn-default'
