= provide :title, [Contract.model_name.human, t('views.index')].join

%h2= Contract.model_name.human

%p= link_to t('views.new'), [:new, :admin, :contract], class: 'btn btn-default'

%p= page_entries_info @contracts

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:customer_code_and_fullname)
      %th= Contract.human_attribute_name(:number)
      %th= Contract.human_attribute_name(:kind)
      %th= Contract.human_attribute_name(:status)
      %th= Contract.human_attribute_name(:rent)
      %th= Contract.human_attribute_name(:period)
      %th
      %th

  %tbody
    - @contracts.each do |contract|
      %tr
        %td= contract.user.try(:customer_code_and_fullname)
        %td= contract.number
        %td= contract.kind_and_parking_name
        %td= contract.enum_i18n(:status)
        %td= money_per_month(contract.rent)
        %td= contract.period
        %td= link_to t('views.show'), [:admin, contract], class: 'btn btn-default'
        %td= link_to [Payment.model_name.human, t('views.new')].join,
          [:new, :admin, contract, :payment], class: 'btn btn-default'

%br

= paginate @contracts
