= provide :title, [Contract.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Contract.model_name.human
  %p
    %b= User.human_attribute_name(:customer_code) + ':'
    - if @contract.user.present?
      = link_to @contract.user.customer_code_and_fullname, [:admin, @contract.user]
  %p
    %b= Contract.human_attribute_name(:code) + ':'
    = @contract.code
  %p
    %b= Contract.human_attribute_name(:kind) + ':'
    = @contract.enum_i18n(:kind)
  - if @contract.about_parking?
    %p
      %b= Contract.human_attribute_name(:parking_name_and_area_names) + ':'
      = link_to @contract.parking_name_and_area_names, [:admin, @contract.parking]
  %p
    %b= Contract.human_attribute_name(:status) + ':'
    = @contract.enum_i18n(:status)
  %p
    %b= Contract.human_attribute_name(:rent) + ':'
    = money_per_month(@contract.rent)
  %p
    %b= Contract.human_attribute_name(:date_signed) + ':'
    = l(@contract.date_signed)
  %p
    %b= Contract.human_attribute_name(:date_terminated) + ':'
    = l(@contract.date_terminated)
  %p
    %b= Contract.human_attribute_name(:auto_updating) + ':'
    = @contract.boolean_i18n(:auto_updating)
  %p
    %b= Contract.human_attribute_name(:note) + ':'
    = @contract.note
  %p
    %b= Contract.human_attribute_name(:last_payday) + ':'
    = @contract.last_payday
  - if @contract.active? && @contract.overdue?
    %p.text-danger
      = t('payments.index.overdue_message',
          date: l(@contract.payments.newest.date_ended.next_month,
          format: :short))

  = @contract.link_to_edit
  = @contract.link_to_destroy
= link_to [Payment.model_name.human, t('views.new')].join,
  [:new, :admin, @contract, :payment], class: 'btn btn-default'
= link_to [Payment.model_name.human, t('views.index')].join,
  [:admin, @contract, :payments], class: 'btn btn-default'
= link_to t('views.back'), [:admin, :contracts], class: 'btn btn-default'
