- today = Date.today
- start_day = Date.new(today.year, today.month, 1) >> 1
- end_day = (start_day >> 1) - 1

= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= t('errors.messages.not_saved')
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :contract_id, t('activerecord.attributes.contract.number')
    - if @contract.present?
      = f.collection_select(:contract_id, @contracts, :id, :number, selected: @contract)
    - else
      = f.collection_select(:contract_id, @contracts, :id, :number, prompt: true)
  .field
    = f.label :payday
    = f.date_select :payday
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :started_date
    = f.date_select :started_date,
      default: Date.new(start_day.year, start_day.month, start_day.day)
  .field
    = f.label :ended_date
    = f.date_select :ended_date,
      default: Date.new(end_day.year, end_day.month, end_day.day)
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :note
    = f.text_area :note
  .actions
    = f.submit t('views.save')
