= provide :title, t('views.payment_history')

= render 'my_contracts', contracts: contracts

%h2= t('views.payment_history')

%p= t('payments.index.first_message')
%p= t('payments.index.limit_message', date: l(Payment::PAYDAY_LIMIT))
%p= t('payments.index.warning_notice')

