= provide :title, t('activerecord.models.payment') + t('views.edit')
%h2= t('activerecord.models.payment') + t('views.edit')

= render 'form'

= link_to t('views.show'), @payment
\|
= link_to t('views.back'), payments_path
