= render 'index_header', contracts: @contracts

%p= page_entries_info @payments

%table.table.table-striped
  %thead
    %tr
      - if @contracts.count > 1
        %th{style: 'width: 80px'}= Contract.model_name.human
      %th{style: 'width: 100px'}= Payment.human_attribute_name(:payday)
      %th{style: 'width: 80px'}= Payment.human_attribute_name(:amount)
      %th{style: 'width: 100px'}= Payment.human_attribute_name(:period)
      %th= Payment.human_attribute_name(:message)

  %tbody
    - @payments.each do |payment|
      %tr{class: "#{payment.color}"}
        - if @contracts.count > 1
          %td= [Contract.model_name.human,
            @contracts.map(&:id).index(payment.contract.id)+1].join
        %td= l(payment.payday)
        %td= money(payment.amount)
        %td= payment.period
        %td= payment.message

%br

= paginate @payments
