= provide :title, t('views.payment_history')

= render 'my_contracts', contracts: @contracts

%h2= t('views.payment_history')

%p= t('.limit_message', date: Date.today - 2.year)
%p= t('.warning_notice')

%p= page_entries_info @payments

%table.table
  %tbody
    - @payments.each do |payment|
      %tr{class: 'active'}
        %th{colspan: '6'}
          - if @contracts.count > 1
            = [Contract.model_name.human,
              @contracts.map(&:id).index(payment.contract.id)+1].join
      %tr{class: "#{payment.pay_later? ? 'danger' : ''}"}
        %th= Payment.human_attribute_name(:payday)
        %td= l(payment.payday)
        %th= Payment.human_attribute_name(:amount)
        %td= money(payment.amount)
        %th= Payment.human_attribute_name(:period)
        %td= payment.period
      %tr{class: "#{payment.pay_later? ? 'danger' : ''}"}
        %th= Payment.human_attribute_name(:message)
        %td{colspan: '3'}= payment.message
        %th= Payment.human_attribute_name(:note)
        %td= payment.note

%br

= paginate @payments
