%h1 Listing payments

%table
  %thead
    %tr
      %th Payday
      %th Amount
      %th Kind
      %th Message
      %th Note
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.payday
        %td= payment.amount
        %td= payment.kind
        %td= payment.message
        %td= payment.note
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
