= provide :title, t('activerecord.models.payment') + t('views.index')
%h2= t('activerecord.models.payment') + t('views.index')

%p= page_entries_info @payments

- if current_user.admin?
  = link_to t('views.new'), new_payment_path

%table
  %thead
    %tr
      %th= t('activerecord.attributes.contract.number')
      %th= t('activerecord.attributes.payment.payday')
      %th= t('activerecord.attributes.payment.amount')
      %th= t('activerecord.attributes.contract.kind')
      %th= t('activerecord.attributes.payment.period')
      %th= t('activerecord.attributes.payment.message')
      %th= t('activerecord.attributes.payment.note')
      - if current_user.admin?
        %th
        %th
        %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.contract.try(:number)
        %td= payment.payday
        %td= payment.amount
        %td= payment.contract.try('enum_i18n(:kind)')
        %td= [l(payment.date_started), l(payment.date_ended)].join(' - ')
        %td= payment.message
        %td= payment.note
        - if current_user.admin?
          %td= link_to t('views.show'), payment
          %td= link_to t('views.edit'), edit_payment_path(payment)
          %td= link_to t('views.delete'), payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= paginate @payments
