= provide :title, t('activerecord.models.payment') + t('views.index')
%h2= t('activerecord.models.payment') + t('views.index')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.user.customer_code')
      %th= t('activerecord.attributes.contract.number')
      %th= t('activerecord.attributes.payment.payday')
      %th= t('activerecord.attributes.payment.amount')
      %th= t('activerecord.attributes.contract.kind')
      %th= t('activerecord.attributes.payment.target')
      %th= t('activerecord.attributes.payment.message')
      %th= t('activerecord.attributes.payment.note')
      - if current_user.admin?
        %th
        %th
        %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.contract.user.customer_code
        %td= payment.contract.number
        %td= payment.payday
        %td= payment.amount
        %td= payment.contract.enum_i18n(:kind)
        %td= l(payment.started_at) + '-' + l(payment.ended_at)
        %td= payment.message
        %td= payment.note
        - if current_user.admin?
          %td= link_to t('views.show'), payment
          %td= link_to t('views.edit'), edit_payment_path(payment)
          %td= link_to t('views.delete'), payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if current_user.admin?
  = link_to t('views.new'), new_payment_path
