= provide :title, t('views.payment_history')

= render 'my_contracts', contracts: @contracts

%h2= t('views.payment_history')

%p= t('.limit_message', date: Date.today - 2.year)
%p= t('.warning_notice')

%p= page_entries_info @payments

%table.table.table-striped
  %thead
    %tr
      - if @contracts.count > 1
        %th= Contract.model_name.human
      %th= Payment.human_attribute_name(:payday)
      %th= Payment.human_attribute_name(:amount)
      %th= Payment.human_attribute_name(:period)
      %th= Payment.human_attribute_name(:message)
      %th= Payment.human_attribute_name(:note)

  %tbody
    - @payments.each do |payment|
      %tr{class: "#{payment.pay_later? ? 'danger' : ''}"}
        - if @contracts.count > 1
          %td= [Contract.model_name.human,
            @contracts.map(&:id).index(payment.contract.id)+1].join
        %td= l(payment.payday)
        %td= money(payment.amount)
        %td= payment.period
        %td= payment.message
        %td= payment.note

%br

= paginate @payments
