= provide :title, [Payment.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Payment.model_name.human
  %p
    %b= Contract.human_attribute_name(:number) + ':'
    = @payment.contract.number
  %p
    %b= Payment.human_attribute_name(:payday) + ':'
    = @payment.payday
  %p
    %b= Payment.human_attribute_name(:amount) + ':'
    = @payment.amount
  %p
    %b= Payment.human_attribute_name(:period) + ':'
    = [@payment.date_started, @payment.date_ended].join(' - ')
    = @payment.period
  %p
    %b= Payment.human_attribute_name(:message) + ':'
    = @payment.message
  %p
    %b= Payment.human_attribute_name(:note) + ':'
    = @payment.note

  = link_to t('views.edit'), edit_payment_path(@payment),
    class: 'btn btn-default'
  = link_to t('views.delete'), @payment, method: :delete,
    data: { confirm: t('views.messages.confirm')}, class: 'btn btn-danger'
= link_to t('views.back'), payments_path, class: 'btn btn-default'
