= provide :title, t('activerecord.models.payment') + t('views.show')
%h2= t('activerecord.models.payment') + t('views.show')

%p
  %b= t('activerecord.attributes.payment.contract_id')
  = @payment.contract_id
%p
  %b= t('activerecord.attributes.payment.payday')
  = @payment.payday
%p
  %b= t('activerecord.attributes.payment.amount')
  = @payment.amount
%p
  %b= t('activerecord.attributes.payment.started_at')
  = @payment.started_at
%p
  %b= t('activerecord.attributes.payment.ended_at')
  = @payment.ended_at
%p
  %b= t('activerecord.attributes.payment.message')
  = @payment.message
%p
  %b= t('activerecord.attributes.payment.note')
  = @payment.note

= link_to t('views.edit'), edit_payment_path(@payment)
\|
= link_to t('views.back'), payments_path
