= provide :title, [Parking.model_name.human, t('views.index')].join

%h2= Parking.model_name.human

%p= page_entries_info @parkings

%table.table.table-striped
  %thead
    %tr
      %th= Parking.human_attribute_name(:name)
      %th= Parking.human_attribute_name(:capacity)
      %th= Parking.human_attribute_name(:address)
      %th

  %tbody
    - @parkings.each do |parking|
      %tr
        %td= parking.name
        %td= parking.capacity
        %td= parking.address
        %td= link_to t('views.show'), parking_path(canonical_name: parking.canonical_name), class: 'btn btn-default'

%br

= paginate @parkings
