= provide :title, [@parking.name, t('views.show')].join

.row
  .col-xs-12.col-sm-6
    .jumbotron
      %h1= @parking.name
      %p= [Parking.human_attribute_name(:address), ':', @parking.address].join
      = @parking.message.html_safe
  - if @parking.address.present?
    .col-xs-12.col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title= Parking.human_attribute_name(:map)
        .panel-body
          .centered{style:'width: 400px'}
            #map{style:'width: 400px; height: 350px'}

.row
  .col-xs-12.col-sm-4
    %div.panel.panel-default
      %div.panel-heading
        %h3.panel-title= Parking.human_attribute_name(:description)
      %div.panel-body
        = @parking.description.html_safe
  .col-xs-12.col-sm-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= Parking.human_attribute_name(:price)
      .panel-body
        = @parking.price.html_safe
  .col-xs-12.col-sm-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= Parking.human_attribute_name(:contact)
      .panel-body
        %p
          = fa_icon 'envelope fw'
          = mail_to(@parking.owner.email)
        - if @parking.owner.phone.present?
          %p
            = fa_icon 'phone fw'
            = @parking.owner.phone

- unless @parking.cautions.empty?
  .row
    .col-sm-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title= Parking.human_attribute_name(:cautions) 
        .panel-body
          %pre= @parking.cautions.html_safe

= link_to t('views.back'), [:parkings], class: 'btn btn-default'

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
