= provide :title, [Management.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= Management.model_name.human
  %p
    %b= Management.human_attribute_name(:email) + ':'
    = @management.email
  %p
    %b= Management.human_attribute_name(:name) + ':'
    = @management.name
  %p
    %b= Management.human_attribute_name(:address) + ':'
    = @management.address
  %p
    %b= Management.human_attribute_name(:phone) + ':'
    = @management.phone

  = link_to t('views.edit'), [:edit, :admin, @management],
    class: 'btn btn-default'
  = link_to t('views.delete'), [:admin, @management], method: :delete,
    data: { confirm: t('views.messages.confirm')}, class: 'btn btn-danger'
= link_to [Parking.model_name.human, t('views.new')].join,
  [:new, :admin, @management, :parking], class: 'btn btn-default'
= link_to t('views.back'), [:admin, :managements], class: 'btn btn-default'
