= provide :title, [User.model_name.human, t('views.index')].join

%h2= User.model_name.human

- if Pundit.policy(current_user, User).new?
  %p= link_to t('views.new'), [:new, :admin, :user], class: 'btn btn-default'

%p= page_entries_info @users

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:customer_code)
      %th= User.human_attribute_name(:fullname)
      %th= User.human_attribute_name(:role)
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.customer_code
        %td= user.fullname
        %td= user.enum_i18n(:role)
        %td= link_to t('views.show'), [:admin, user], class: 'btn btn-default'
        %td= link_to [Contract.model_name.human, t('views.new')].join,
          [:new, :admin, user, :contract], class: 'btn btn-default'

%br

= paginate @users
