= provide :title, [User.model_name.human, t('views.show')].join

%h2= t('views.show')

.well.bs-component
  %fieldset
    %legend= User.model_name.human
  %p
    %b= User.human_attribute_name(:email) + ':'
    = @user.email
  %p
    %b= User.human_attribute_name(:fullname) + ':'
    = @user.fullname
  %p
    %b= User.human_attribute_name(:locale) + ':'
    = @user.enum_i18n(:locale)
  %p
    %b= User.human_attribute_name(:gender) + ':'
    = @user.enum_i18n(:gender)
  %p
    %b= User.human_attribute_name(:birthday) + ':'
    = l(@user.birthday) if @user.birthday.present?
  %p
    %b= User.human_attribute_name(:address) + ':'
    = @user.address
  %p
    %b= User.human_attribute_name(:phone) + ':'
    = @user.phone
  %p
    %b= User.human_attribute_name(:role) + ':'
    = @user.enum_i18n(:role)
  %p
    %b= User.human_attribute_name(:customer_code) + ':'
    = @user.customer_code
  %p
    %b= User.human_attribute_name(:send_of_dm) + ':'
    = @user.boolean_i18n(:send_of_dm)
  %p
    %b= User.human_attribute_name(:reset_password_token) + ':'
    = @user.reset_password_token
  %p
    %b= User.human_attribute_name(:reset_password_sent_at) + ':'
    = l(@user.reset_password_sent_at) if @user.reset_password_sent_at.present?
  %p
    %b= User.human_attribute_name(:remember_created_at) + ':'
    = l(@user.remember_created_at) if @user.remember_created_at.present?
  %p
    %b= User.human_attribute_name(:sign_in_count) + ':'
    = @user.sign_in_count
  %p
    %b= User.human_attribute_name(:current_sign_in_at) + ':'
    = l(@user.current_sign_in_at) if @user.current_sign_in_at.present?
  %p
    %b= User.human_attribute_name(:last_sign_in_at) + ':'
    = l(@user.last_sign_in_at) if @user.last_sign_in_at.present?
  %p
    %b= User.human_attribute_name(:current_sign_in_ip) + ':'
    = @user.current_sign_in_ip
  %p
    %b= User.human_attribute_name(:last_sign_in_ip) + ':'
    = @user.last_sign_in_ip
  %p
    %b= User.human_attribute_name(:confirmation_token) + ':'
    = @user.confirmation_token
  %p
    %b= User.human_attribute_name(:confirmed_at) + ':'
    = l(@user.confirmed_at) if @user.confirmed_at.present?
  %p
    %b= User.human_attribute_name(:confirmation_sent_at) + ':'
    = l(@user.confirmation_sent_at) if @user.confirmation_sent_at.present?
  %p
    %b= User.human_attribute_name(:unconfirmed_email) + ':'
    = @user.unconfirmed_email

  = link_to t('views.edit'), [:edit, :admin, @user], class: 'btn btn-default'
  = link_to t('views.delete'), [:admin, @user], method: :delete,
    data: { confirm: t('views.messages.confirm')}, class: 'btn btn-danger'

= link_to [Contract.model_name.human, t('views.new')].join,
  [:new, :admin, @user, :contract], class: 'btn btn-default'
= link_to t('views.back'), [:admin, :users], class: 'btn btn-default'
