!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      ImoriH - 
      = yield(:title).present? ? yield(:title) : 'imoriH'
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  %body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li.navbar-brand{style: 'position:relative; top:-25px'}
              = link_to root_path do
                = image_tag 'logo.png'
            %li= link_to t('views.home'), root_path
            %li= link_to t('views.search_parking'), [:parkings]
            - if user_signed_in?
              %li= link_to t('views.payment_history'), [:payments]
              - if current_user.admin? || current_user.master?
                %li
                  %a{'data-toggle' => 'dropdown', href: '#'}
                    管理
                    %span.caret
                  %ul.dropdown-menu
                    - if current_user.admin?
                      %li= link_to User.model_name.human, [:admin, :users]
                      %li= link_to Owner.model_name.human, [:admin, :owners]
                    %li= link_to Parking.model_name.human, [:admin, :parkings]
                    %li= link_to Contract.model_name.human, [:admin, :contracts]
                    %li= link_to Payment.model_name.human, [:admin, :payments]
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to t('views.settings'), [:edit, :user, :registration]
              %li= link_to t('views.signout'), [:destroy, :user, :session], method: :delete
            - else
              %li= link_to t('views.signin'), [:new, :user, :session]
              %li= link_to t('views.signup'), [:new, :user, :registration]
          %p.navbar-text.navbar-right= welcome_message
    .container
      .row
        %p.text-success= notice
        %p.text-danger= alert

      = yield

      %footer
        %p.text-right &copy; imoriH 2016
